body{
    background-color: #fadee7;
}


.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    display: inline-block;
    width: 23%;
    padding: 1%;
}


nav{
    width:100%;
}
ul{
    width:50%;
    margin-left: auto;
}
.navigation{
    height: fit-content;
    background-color: white;
    justify-content: center;

}




.heroImg {
    height: 600px;
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
}



footer{
    background-color: blueviolet;
    padding: 15px;
}
ul{
    display: inline-block;
    vertical-align: top;
}
li{
    padding: 15px;
}

